// CONTAINER
// HOVER FOCUS NOT ACTIVE
// REM





// IMPORT
// ----------------------------------------
@use './variables' as *;





// CONTAINER
// ----------------------------------------
@mixin container($width: $container-width, $padding: $container-padding) {
	width: 100%;
	max-width: calc(#{$padding} * 2 + #{$width});
	margin-inline: auto;
	padding-inline: $padding;
}





// HOVER FOCUS NOT ACTIVE
// ----------------------------------------
@mixin hover() {
	&:hover:not(:active) {
		@content;
	}
}





// REM
// ----------------------------------------
@function rem($px_value, $base: $size-default) {
	@return calc($px_value / ($base / 1rem));
}





// FLEX
// ----------------------------------------
@mixin flex($justify-content: flex-start, $align-items: flex-start, $flex-wrap: nowrap, $col: false, $column-gap: 0px, $row-gap: 0px) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
	@if $row-gap {
		row-gap: $row-gap;
	}
	@if $col {
		margin-inline: calc(-#{$column-gap} / 2);
		> * {
			margin-inline: calc($column-gap / 2);
			flex-basis: calc(100% / #{$col} - #{$column-gap});
		}
	}
}