// VARIABLES





// VARIABLES
// ----------------------------------------
$size-default: 16px;
$line-height-default: 1.5;

// Colors
$color1: #fff;
$color2: #000;
$color3: #0e5375;
$color-error: #dc3545;
$color-success: #22ce26;

// Fonts
$font1: 'Open sans', Arial, sans-serif;

// Dimensions
$container-width: 1600px;
$container-padding: clamp(16px, 5vw, 5vw);